* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: $font-body-i;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.heading-block {
  position: relative;
  .title {
    font-family: $font-title;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #fff;
    font-size: 90px;
    letter-spacing: 5px;
    color: #65aedc;
    text-align: center;
  }
}

.content-box {
  position: absolute;
  max-width: 500px;
  width: fit-content;
  background-color: #fff;
  z-index: 0;
  padding: 20px;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #97d1f6;
    z-index: -1;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
  }
  .text {
    font-family: $font-body-i;
    color: #000;
  }
}

.button-wrapper {
  @include flex(unset, center, 40px);
}

.button-link {
  -webkit-perspective: 240px;
  perspective: 240px;
  @include flex(unset, center, unset);
  width: fit-content;
  flex-direction: column;
  &:hover {
    .top {
      transform: rotateX(50deg) translateZ(-40px) scale(1.1);
      background-color: #c24239;
    }
    .bottom {
      visibility: hidden;
    }
  }
  .top {
    width: 120px;
    aspect-ratio: 1;
    border: 2px solid #000;
    background-color: #f94b41;
    @include flex(center, center, unset);
    transform: rotateX(50deg);
    .text {
      font-family: $font-title;
      color: #000;
      font-size: 40px;
      text-align: center;
    }
  }
  .bottom {
    width: 148px;
    aspect-ratio: 5 / 1;
    background-color: #c24239;
    border: 2px solid #000;
    border-top: 0;
    margin-top: -15px;
  }

  &.yellow {
    &:hover {
      .top {
        background-color: #c6963b;
      }
    }
    .top {
      background-color: #f9c541;
    }
    .bottom {
      background-color: #c6963b;
    }
  }
}

.banner {
  background: url(../images/space.png) center no-repeat;
  background-size: cover;
  height: 120vh;
  @include flex(unset, center, unset);
  .banner-wrapper {
    @include flex(space-around, center, 40px);
  }

  .banner-image {
    width: 35%;
    position: relative;
    > img {
      position: relative;
      z-index: 1;
      filter: drop-shadow(0 0 30px rgba(140, 203, 244, 0.6));
      animation: upDown ease-in-out 7s infinite alternate-reverse;
    }
    .decor-el {
      position: absolute;
      width: 100%;
      top: -70px;
      left: 0;
      z-index: 0;
      mix-blend-mode: lighten;
    }
  }

  .banner-content {
    @include flex(unset, center, unset);
    flex-direction: column;
  }

  .heading-block {
    .decor-el {
      position: absolute;
      top: -200%;
      left: 0%;
      width: 100%;
      height: auto;
      z-index: 0;
    }
    .title {
      transform: rotate(-6deg);
      text-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);
      @include flex(unset, center, 0);
      span {
        transition: all ease 0.2s;
      }
    }
  }

  .content-box {
    position: relative;
    margin-top: 200px;
    margin-bottom: 20px;
  }
}

.supply {
  margin-top: 5px;
  border-top: 2px solid #000;
  height: 120vh;
  background: url(../images/comic-bg.png) center no-repeat;
  background-size: cover;
  @include flex(unset, center, unset);
  .supply-wrapper {
    @include flex(space-between, center, 10px);
    position: relative;
  }
  .content-box {
    left: 0;
    top: 0;
    z-index: 1;
    &:nth-child(2) {
      right: 0;
      bottom: 0;
      left: initial;
      top: initial;
    }
  }
  .supply-content {
    width: 40%;

    .heading-block {
      .title {
        span {
          font-size: 45px;
        }
        font-size: 60px;
        letter-spacing: 2px;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: #000;
      }
    }
    .button-link {
      margin: 30px auto 0;
      .top {
        width: 200px;
        height: 100px;
        aspect-ratio: unset;
      }
      .bottom {
        width: 238px;
        height: 40px;
        aspect-ratio: unset;
        margin-top: -14px;
      }
    }
  }

  .supply-image {
    max-width: 50%;
    position: relative;
    .decor-wrapper {
      position: absolute;
      width: 400px;
      left: -120px;
      top: 15%;
      aspect-ratio: 1;
      .decor-el {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        &:nth-child(1) {
          mix-blend-mode: screen;
        }
        &:nth-child(2) {
          width: 60px;
          top: 51%;
          left: 49%;
          transform: translate(-50%, -50%);
        }
      }
    }

    > .decor-el {
      position: absolute;
      top: -30px;
      right: 0;
      width: fit-content;
    }
    img {
      animation: upDown ease-in-out 5s infinite alternate-reverse;
    }
  }
}

// RESPONSIVE

@include tablet {
  .banner {
    height: unset;
    padding: 100px 0;
    .banner-wrapper {
      flex-direction: column;
    }
    .banner-image {
      width: 70%;
    }
    .banner-content {
      .heading-block {
        .decor-el {
          display: none;
        }
      }
    }
    .content-box {
      margin-top: 100px;
    }
  }

  .supply {
    height: unset;
    padding: 120px 0;
    .supply-wrapper {
      flex-direction: column-reverse;
      padding: 120px 0;
      gap: 100px;
    }
    .supply-image {
      width: 80%;
      max-width: unset;
    }
    .supply-content {
      width: 100%;
    }
  }
}

@include landscape-phone {
}

@include extra-mobile {
  .button-wrapper {
    gap: 20px;
  }
  .content-box {
    .text {
      font-size: 14px;
    }
  }
  .banner {
    padding: 80px 0;
    .banner-content {
      width: 100%;
    }
    .content-box {
      width: 100%;
    }
    .heading-block {
      .title {
        font-size: 55px;
      }
    }
    .banner-image {
      width: 100%;
    }
  }
  .supply {
    padding: 80px 0;
    .supply-wrapper {
      gap: 50px;
    }
    .supply-image {
      width: 100%;
    }
    .supply-content {
      .heading-block {
        .title {
          font-size: 42px;
        }
      }
    }
  }
}
